* {
  font-family: "TT Fors Trial", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

button.link {
  background-color: unset;
  width: 250px;
  color: white;
  font-size: medium;
  text-decoration: none;
  &:hover {
    background-color: aliceblue;
    color: black;
    font-weight: bold;
  }
  span {
    font-size: large;
    color: black;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #96baf1;
  display: flex;
  width: 250px;
}

.sidebar-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: white;
  font-size: 16px;
}

img {
  width: 40px;
  height: 40px;
}
